.login-wrap {
  padding: 90px 0px;
  background-color: #093545;
}

.login-form {
  background-color: white;
  width: 500px;
  padding: 100px 40px;
  margin: 0 auto;
  border-radius: 10px;
}

.login-form input {
  width: 100%;
  padding: 8px 15px;
  outline: none;
  margin: 10px 0px;
}

.login-form h2 {
  text-align: left;
  margin-bottom: 25px;
}

.forget-pass {
  color: rgb(94, 93, 93);
  font-size: 12px;
  text-align: right;
  margin-bottom: 20px;
}

.register-page {
  margin-top: 20px;
}

.others-login-system {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}
.others-login-system h3 {
  color: black;
}

.others-login-system p {
  font-size: 14px;
  margin-bottom: 8px;
}

.google-login {
  color: white;
  border-radius: 10px;
  padding: 8px 10px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  background-color: #da4935;
}

.github-login {
  color: white;
  border-radius: 10px;
  padding: 8px 10px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  background-color: #1e1e1e;
}
.fb-login {
  color: white;
  border-radius: 10px;
  padding: 8px 10px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  background-color: #3a5896;
}
