.registration-wrap {
  padding: 90px 0px;
  background-color: #093545;
}

.registration-form {
  background-color: white;
  width: 500px;
  padding: 100px 40px;
  margin: 0 auto;
  border-radius: 10px;
}

.registration-form input {
  width: 100%;
  padding: 8px 15px;
  outline: none;
  margin: 10px 0px;
}
.registration-form h2 {
  text-align: left;
  margin-bottom: 25px;
}

.login-page {
  color: rgb(94, 93, 93);
  font-size: 12px;
  text-align: left;
  margin-bottom: 20px;
}
